/*!******************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./components/global/LoadingSpinner/LoadingSpinner.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************/
@keyframes LoadingSpinner_loader__ccAix {
  100% {
    transform: rotate(360deg);
  }
}

.LoadingSpinner_loadingSpinner__IzmK3 {
  width: 50px;
  height: 50px;
  border: 10px solid #eee;
  border-top: 10px solid #363b3e;
  border-radius: 100%;
  animation: LoadingSpinner_loader__ccAix 1s infinite linear;
}

